.mobileBefore {
  width: 60px !important;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.div{
  width: 80%;
  margin: 0px auto;
  margin-bottom:2%; 
}
.span{
  color: #000;
  line-height: 30px;
}