.mobileBefore {
  width: 60px !important;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.addable-cell{
  width: 80%;
  margin: 0px auto;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}
.span{
  font-size:18px;
}
.gradeCardName{
  font-size:22px;
}
.hr{
  width:100%;
  height:10px;
  margin: 0px 0px 1% 0;
  border-bottom:1px #cfd3c7 solid;
}
.tags{
  font-size:22px;
  color: #000;
}
.scoreCardName{
   width:100%;
   font-size:22px;
   margin:0px 0px 1% 0px
}

.test{
  width:100%;
  border-top:1px #cfd3c7 solid;
  margin: 0px 0px 1% 0px;
  padding-top:1%; 
  overflow:auto
}
.test:first-child{
  border-top:none
}
.name{
  font-size:16px;
  font-weight:bold 
}
.threeLevel{
  font-size:14px;
  float: left;
  margin: 0px 3% 0px 0px;
}