.mobileBefore {
  width: 60px !important;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.tags{
  font-size: 18px;
  color: rgba(0,0,0,.85);
  margin: 50px 0 10px 0;
  display: inline-block;
}

.insertBut{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.saveBut{
 margin-bottom: 50px;
}

.addable-cell{
  width: 90%;
  margin: 0px 0  0 30px;
}

.span{
  font-size: 14px;
}

.lableTabel {
  max-height: 393px;
  overflow: auto;
}
