.title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}
.score {
    float: right;
    width: 50%;
    margin: auto 0px;
}
.score span{
    display: block;
    line-height: 30px;
}
.score span:nth-child(1) {
     font-size: 20px;
     font-weight: 700;
 }

.progress {
    margin: 0px 0px 10px 20px;
    width:300px;
}

.basicInformation {
    margin-top : 50px;
    width:100%;
}
.basicInformation span{
    display: block;
    line-height: 30px;
}
.basicInformation span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}
.hr{
    width:750px;
    height:10px;
    margin: 0px 0px 10px 6px;
    border-bottom:1px #666 solid;
}