
.project-title {
  height: 40px;
  width: 100%;
  background: #fbfbfb;
  margin-bottom: 2px;
  border-radius: 4px;
  padding: 0;
  color: #169BD5;
  font-size: 16px;
  display: inline-block;
  height: 100%;
  width: 100px;
  line-height: 40px;
  border-bottom: 2px solid #169BD5;
  float: left;
  text-align: center;
}

.project-title a {
  float: right;
}

.ball {
  display: inline-block;
  height:50px;
  width: 50px;
  border-radius: 25px;
  background-color: #169BD5;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 24px;
}

th.column-product,
td.column-product {
  text-align: center !important;
}


.tr{
  width: 200px;
  font-size:16px;
  background-color: #f6f6f6; 
  text-align: center;
}
.td{
  width: 200px;
  text-align: center;
}
