.enterprise_accountoverview_container{
    width: 100%;

}
.enterprise_accountoverview_wrapper{
    margin: 0 auto;
    width: 800px;
    height: 270px;
}
.enterprise_accountoverview_wrapper ul li{
    width: 360px;
    height: 260px;
    border: 1px solid #ccc;
}
