.enterprise_accountoverview_container{
    width: 100%;

}
.enterprise_accountoverview_wrapper{
    margin: 0 auto;
    width: 800px;
    height: 270px;
}
.enterprise_accountoverview_wrapper ul li{
    width: 350px;
    height: 200px;
    border: 1px solid #ccc;
    background: #e8f5fb;
    border: 1px solid #72a7ed;
}
.enterprise_accountoverview_wrapper .title{
    margin: 10px;
    width: 100%;
    font-size: 13px;
}
.enterprise_accountoverview_wrapper .detail{
    margin: 40px 0 0 10px;
}
.enterprise_accountoverview_wrapper .detail .balance{
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}
.enterprise_accountoverview_wrapper .detail .balance label{
    display: block;
    font-size: 13px;
    color: #666;
}
.enterprise_accountoverview_wrapper .detail .balance span{
    display: block;
    margin: 5px 0;
    font-size: 22px;
}
.enterprise_accountoverview_wrapper .detail .operation{
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}
