.notice {
    border-width: 0px;
    height:300px;
    font-size: 16px;
    color: #666666;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
}

.title {
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    background-color: #ddd;
}

.title a {
    float: right;
    margin-right: 50px;
}

.container {
    padding: 30px 10px; 
    width: 100%;
}

.container li {
    height: 40px;
    line-height: 40px;
}