
.acc-files-view .ant-upload-list-picture-card .ant-upload-list-item-info:before{
  left:0;
  top:0;
}

/*.acc-files-action .ant-upload-select-picture-card,
.acc-files-view .ant-upload-list-item-done{
  width : 60px;
  height: 60px;
}*/

.acc-files-action .ant-upload-list{
  display: none;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}