.process-time{
    position: absolute;
    width: 110px;
    left: -130px;
    text-align: right;
}
.ant-timeline{
    display: inline-block;
}
.ant-timeline-item{
    left:180px;
}

.acc-input-money .ant-input-number-handler-wrap{
    display: none;
}
.acc-input-money .ant-input-number{
    width:100%
}