.mobileBefore {
  width: 60px !important;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.signature-color {
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  position: relative;
  top: 5px;
  left: 0;
}

.signature-color-red  {
  background-color: red;
}

.signature-color-blue  {
  background-color: blue;
}

.signature-color-black  {
  background-color: #000;
}